---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>I am Dane Ukken.</h1>

      <p>
        <strong>
          A curious and self-motivated developer with over 4 years of professional experience and master's degree in Computer Science from UT Dallas.
        </strong>
      </p>
      <br>
      <p>
        My expertise lies in designing and optimizing scalable, distributed systems, with proficiency in C#, Python, Java, and TypeScript. I excel in fast-paced environments, leveraging my problem-solving abilities and keen attention to detail to deliver robust, efficient solutions. My diverse skill set encompasses backend development, frontend development, cloud services, and microservices architecture.
      </p>      
      <br>
      <p>
        My experience at Fidelity Investments has sharpened my ability to streamline processes, develop innovative features, and contribute significantly to complex projects. During my internship at Resi Media, I further refined my front-end skills, enhancing user interfaces with React JS and improving overall code quality.
      </p>
        
      <br>
      <p>
        As a versatile developer with a strong foundation in both front-end and back-end technologies, I am eager to tackle complex challenges and drive success in dynamic, agile environments.
      </p>
      <br>

      <div class="me-6 flex flex-wrap items-end justify-between gap-x-4 gap-y-8">
        <LinkButton href="/Resume_DaneUkken.pdf">
          Resume
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
        {
          // only display if at least one social link is enabled
          socialCount > 0 && (
            <div class="social-wrapper">
              <div class="social-links">Let's connect:</div>
              <Socials />
            </div>
          )
        }
      </div>
      
    </section>

    <Hr />

    {
      false && featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      false && recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/projects/">
        All Projects
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
